In [27]:
import pandas as pd

Exercice 2

In [29]:
jfk = pd.read_csv("jfkrelease-2017.csv", sep=';')
jfk[:2] # Look at the first 3 rows

,File Name,Record Num,NARA Release Date,Formerly Withheld,Agency,Doc Date,Doc Type,File Num,To Name,From Name,Title,Num Pages,Originator,Record Series,Review Date,Comments,Pages Released
0,DOCID-32105709.pdf,178-10004-10309,26/10/2017,In Part,KISS/SCOW,06/05/1975,NOTES,JUNE 1975,NaN,"SCOWCROFT, BRENT",P/K 5 JUNE 75,3.0,WH,"SCOWCROFT MEMCONS, HANDWRITTEN",Aug/18/2017,"Participants: Ford, Kissinger, Scowcroft. Ha...",4.0
1,DOCID-32105710.pdf,178-10004-10308,26/10/2017,In Part,KISS/SCOW,04/12/1975,NOTES,APRIL 1975,NaN,"SCOWCROFT, BRENT",P/K 12 APR 75,2.0,WH,"SCOWCROFT MEMCONS, HANDWRITTEN",Aug/18/2017,"Participants: Ford, Kissinger, Scowcroft. Ha...",3.0

In [19]:
jfk['Num Pages'].min()

0.0

In [20]:
jfk['Num Pages'].max()

2598.0

In [21]:
jfk['Num Pages'].mean()

13.052858683926646

In [25]:
jfk['Num Pages'].isnull().sum()

3904

Exercice 3

In [30]:
jfk['Doc Type'].nunique()

36

In [38]:
#table.groupby('YEARMONTH').CLIENTCODE.nunique()
#jfk.groupby('Doc Type').DocType.nunique()

         Num Pages  Pages Released
count  2781.000000     2781.000000
mean     13.052859       13.551960
std      66.199690       66.277539
min       0.000000        2.000000
25%       2.000000        2.000000
50%       3.000000        4.000000
75%       8.000000        8.000000
max    2598.000000     2598.000000